<h4 class="defcon{{detector_defcon}}" title="{{detector_descr}}">
 <p class="left">detector: {{ detector_name }}</p> 
 <span class="defcon{{detector_defcon}} dc" title="overall rating; 1=worst 5=best">DC:{{detector_defcon}}</span>
</h4>
<div class="detector score">
 <p class="left"><span>absolute score:</span> <b class="defcon{{absolute_defcon}}">{{ "{:.1f}".format(absolute_score*100) }}% ({{absolute_comment}})</b></p>
 <span class="defcon{{absolute_defcon}} dc" title="rating; 1=worst 5=best">DC:{{absolute_defcon}}</span>
</div>
{%if relative_score != "n/a"%}
<div class="detector score">
 <p class="left"><span>relative score (Z):</span> <b class="defcon{{relative_defcon}}">{{"{:.1f}".format(relative_score)}} ({{relative_comment}})</b></p>
 <span class="defcon{{zscore_defcon}} dc" title="rating; 1=worst 5=best">DC:{{relative_defcon}}</span>
</div>
{%else%}
<div class="detector score">
 <p class="left"><span>relative score (Z):</span> unavailable, calibration not present for this probe:detector combination</p> 
 <span class="dc" title="DEFCON rating; 1=worst 5=best">n/a</span>
</div>
{%endif%}