
<button class="defcon{{group_defcon}} accordion"><b>{{ group }}</b>{% if show_top_group_score %} <span title="{{group_aggregation_function}}{%if unrecognised_aggregation_function%} (unrecognised func){%endif%}">- {{ "{:.1f}".format(score*100) }}% </span>{%endif%}</button>
<div class="panel">
<!-- <p>{{doc}}</p> -->
{%if group_score != "100.0%"%}
<p>
{%if group_link%}
Docs: <a href="{{group_link}}" target="_new">{{group}}</a>
{%endif%}
</p>
{%endif%}